.aside {
    width: 25vw;
    background-color: #eee;
    padding: 10px;
    font-size: 10px;
}

.tier-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
}

.contents {
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.contents .text {
    font-size: 15px;
}

.tire-box-icon {
    font-size: 50px;
}

.tier-btn-Subscribed,
.tier-btn-Unsubscribed {
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto;
    font-weight: bold;
}

.tier-btn-Subscribed {
    background-color: #fab;
    color: #d23;
}
.tier-btn-Unsubscribed {
    background-color: #d23;
    color: #fff;
}
