body{
  background-color: #efeaea;
  margin: 0;
}
/* HomePage */
.Main{
  display: flex;
}

/* navbar */
.nav{
  background-color: whitesmoke;
  display: flex;
  font-family: Arial, Helvetica, sans-serifs;
  justify-content: space-between;
  height: 80px;
}
.content{
  display: flex;
  gap:5px;
  align-items: center;
  margin-left: 10px;

}
.circle{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(180, 84, 49);
}
.search{
  display: flex;
  /* margin-left: -50px; */
  width: 30%;
  padding: 20px;
}
.searchI{
  width: 40px;
  height: 40px;
  margin-left: -30px;
}
.btn{
  padding: 20px;
  /* margin-left: 20%; */
  min-width: 200px;
}
.btn button{
  background-color:rgb(180, 84, 49) ;
  border-radius: 7px;
  padding: 10px;
  color: #efeaea;
  font-weight: bold;
}

.profile{
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-right:10px ;
  
}
.img{
  border-radius: 30px;
}

/* LeftSidebar */
.SideBar{
  background-color:whitesmoke ;
  margin-top: 5px;
  width: 300px;
  
}
.topics{
  padding: 15px;
  font-family: Arial, Helvetica, sans-serifs;
  font-size: large;
}
.topic:hover{
  background-color: #efeaea;

}

.items{
  padding: 15px;
  display: flex;
  gap: 6px;
}

.following{
  padding: 15px;
  font-family: Arial, Helvetica, sans-serifs;
  font-size: large;
}
.photos{
  padding: 3px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
 
}
.photos:hover{
  background-color: #efeaea;

}
.img2{
  border-radius: 10px;
}
.footer{
  color: gray;
  padding: 10px;
}

/* Main Page */

.containers{
  margin-top: 5px;
  margin-left: 30%;
 
}
.coverPhoto{
  border-radius: 20px;
  /* aspect-ratio: 9/16; */
  /* object-fit: contain; */
}
.profilePhoto{
  border-radius: 30px;
  margin-top: -50px;
  margin-left: 50px;
}
.profilePic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
 
}
.profilePic h3{
margin-left: 50px;
}
.profilePic h4{
  margin-left: 50px;
  font-size: small;
  color: grey;
  }

.Links{
  display: flex;
  justify-content: space-between;

}
.social ul{
  display: flex;
  list-style: none;
  gap: 20px;
}
.social li{
  padding: 5px;
  border: solid 1px gray;
  border-radius: 10px;
}

.flag{
  display: flex;
  gap: 5px;
}
.msg{
  margin-left: 100px;
}
.msg ul{
  display: flex;
  list-style: none;
  gap: 20px;

}
.msg li{
  display: flex;
  gap: 20px;
  padding: 5px;
  border: solid 1px gray;
  border-radius: 10px;
  
}
.activities{
  margin-top: 20px;
}
.activities ul{
 display: flex;
 list-style: none;
 gap: 40px;
}

.activities li:hover{
  background-color: black;
  color: #efeaea;
  border-radius: 30px;
  width: 70px;

}









